/* -------- Скидаємо стилі ---------------------------- */

/* Вказуємо box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Прибираємо внутрішні відступи */
ul[class],
ol[class] {
  padding: 0;
}

/* Прибираємо зовнішні відступи */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
dl,
dd {
  margin: 0;
}

/* Виставляємо основні налаштування за замовчуванням для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Видаляємо стандартну стилізацію для всіх ul та il, у яких є атрибут class */
ul[class],
ol[class] {
  list-style: none;
}

/* Елементи a скидаємо до дефолтних стилів */
a {
  text-decoration: none;
}

/* Спрощуємо роботу з зображеннями */
img {
  display: block;
}

/* Наслідуємо шрифти для інпутів та кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* ---------------------------------------------------------------------------------------- */


/* Змінюємо фон модального вікна */
.basicLightbox--visible .basicLightbox__placeholder {
  background: rgba(46, 47, 66, 0.8);

}

/* Налаштування позиціювання та інших стилів */
.basicLightbox--visible .basicLightbox__content {
  z-index: 1000;

  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);

}

body{
  padding: 24px;
}

.gallery{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.gallery-image{
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(1.044, 1.04);
}